@import "tailwindcss";

@theme {
  --color-accent: #111827;
}

:root {
  --background: #ffffff;
  --foreground: #1F2937;
  --card-bg: #FFFFFF;
  --border: #E5E7EB;
  --muted: #6B7280;
  --accent: #000000;
  --accent-hover: #5f5f5f;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

button,
label,
select,
[role="button"],
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="submit"] {
  cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}